footer{
	display: block;
}
.footer_container{
	width: 100%;
}
.flex{
	display: flex;
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding-left: 100px;
}
.footer_div{
	width: 100%;
	height: 100%;
}
dl{
	display: block;
	padding: 10px;
}
dt{
	display: block;
	margin: 25px 0px 25px;
	font-weight: bolder;
	font-size: 18px;
}
dd{
	margin-left: 0px;
	font-size: 15px;
}
dd>a{
	color: black;
}
dd>a:hover{
	color: #9B111E;
}
.footerAtag_container{
	width: 100%;
}
.footer_atag{
	width: 100%;
	height: 100%;
	text-align: center;
}
.footer_atag>a{
	display: inline-block;
	padding: 30px 50px;
	color: black;
	font-weight: bolder;
}
.footer_atag>a:hover{
	color: #9B111E;
}
.footer-company{
	background-color: black;
	width: 100%;
	margin: 0px 0px;
	text-align: center;
}
.footer-company-div{
	text-align: left;
	font-size:smaller;
	vertical-align: top;
	display: flex;
	color: #9B9B9B;
	margin: 0px 0px 25px;
	display: inline-block;
	padding: 30px 50px;
}